body {
  background-color: #e6ecf5;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', Arial, sans-serif
}

.main-container {
    display: grid;
    /* Creates two columns of equal width */
    grid-template-columns: 3fr 1fr;
    /* Adds a gap between columns */
    gap: 20px; 
    max-width: 1400px;
    margin: 0 auto;
    align-items: start;
    justify-items: center;

    padding: 30px 4em;

    .add-edit-column { order: 2; }
    .list-column { order: 1; }
    
}
.add-edit-column {
  box-sizing: border-box; /* This is key: includes padding/border in the width calculation */
    border: 1px solid #ccc;
    padding: 25px;
    background-color: white;
    margin: 0 auto;
}

.add-edit-column div div{
    padding: 10px 0;
}
.full-width-input {
  width: 100%;
    box-sizing: border-box; /* This is key: includes padding/border in the width calculation */
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
}

.input{
  box-sizing: border-box; /* This is key: includes padding/border in the width calculation */
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
}

.bar {
  margin-left: 10px;
}

.search {
  box-sizing: border-box; /* This is key: includes padding/border in the width calculation */
    padding: 10px;
    margin-left: 30px;
    border: 1px solid #ccc;
    width: 40%;
}

.list-column {
  box-sizing: border-box; /* This is key: includes padding/border in the width calculation */
    border: 1px solid #ccc;
    text-indent: 30px;
    padding: 15px 0;
    background-color: white;
    margin: 0 auto;
    width: 100%;
}

.list-options {
  display: flex;
  padding: 10px 0;
}

.job-list-table {
  width: 100%;
  padding: 10px 0;
  border-collapse: collapse;
  background-attachment: fixed;
  
}

thead{
  background-color: #f8f9fb;
  box-sizing: border-box; /* This is key: includes padding/border in the width calculation */
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 60px;

}

th {
  text-align: left;
  padding-left: 30px;
}

td {
  padding-left: 30px;
}

.edit-button{
  background-color: #0d5bb8;
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 5px;
}

.delete-button{
  background-color: #d7352a;
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  margin-left: 3px;
}

.add-button{
  background-color: #0d5bb8;
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 5px;
}

.update-button{
  background-color: #0d5bb8;
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 5px;
}

.cancel-button{
  background-color: #d7352a;
  margin-left: 3px;
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 5px;
}

.job-list-row{
  padding: 150px;
  height: 70px;
  border-bottom: 3px solid #f6f8f9;
}

.status{
  padding: 10px 0;
  width: 120px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.applied {
  background-color: blue;
}

.interviewing {
  background-color: green;
}

.offer {
  background-color: orange;
}

.rejected {
  background-color: red;
}

.error-message {
  color: red;
}

@media (max-width: 900px) {
    .main-container {
        /* Stacks columns vertically on screens less than 768px wide */
        grid-template-columns: 1fr; 
        font-size: 12px;
        padding: 15px 2px;
      
        .add-edit-column { order: 1; width: 500px;}
        .list-column { order: 2; }
    }

    .status{
      width: 90px;
    }

    th {
    padding-left: 15px;
    }

    td {
      padding-left: 15px;
    }

    .list-column{
      text-indent: 15px;
}
}

.block-label {
  display: block;
}